<!DOCTYPE html>
<html>

<head>
    <title>Удаление</title>
    <meta charset="utf-8" />
</head>

<body>
    {{> header loggedIn=true}}
    <div class="container">
        <h3>Вы действительно хотите удалить элемент?</h3>
        <dl class="row">
            <dt class="col-sm-2">
                Кабинет
            </dt>
            <dd class="col-sm-10">
                {{ reception.Cabinet }}
            </dd>
            <dt class="col-sm-2">
                Окно
            </dt>
            <dd class="col-sm-10">
                {{ reception.Num_reception }}
            </dd>
            <dt class="col-sm-2">
                Тематика
            </dt>
            <dd class="col-sm-10">
                {{ reception.Theme }}
            </dd>
        </dl>
        <form method="post">
            <input type="submit" value="Удалить" class="btn btn-danger" /> |
            <a href="/admin/receptions">Назад</a>
        </form>
    </div>
</body>
</html>