<!DOCTYPE html>
<html>

<head>
    <title>Смена пароля</title>
    <meta charset="utf-8" />
</head>

<body>
    {{> header}}
    <div class="container">
        <h3>Введите новый пароль</h3>
        {{#if error}}
        <a style="color: red;">Пароли не совпадают</a>
        {{/if}}
        <div class="row">
            <div class="col-md-12">
                <div class="input-group input-group-lg">
                    <form method="post">

                        <div class="form-outline mb-4 d-flex flex-column">
                            <label class="form-label">Новый пароль</label>
                            <input type="password" class="form-control" name="password" required />
                        </div>

                        <div class="form-outline mb-4 d-flex flex-column">
                            <label class="form-label">Подтвердите пароль</label>
                            <input type="password" class="form-control" name="passwordConfirm" required />
                        </div>

                        <input type="submit" class="btn btn-primary btn-block mb-4" value="Сохранить" />
                        <a href="/admin">Назад</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>