<!DOCTYPE html>
<html>

<head>
    <title>Добавление номерка</title>
    <meta charset="utf-8" />
</head>

<body>
    {{> header loggedIn=true}}
    <div class="container">
        <h3>Добавление номерка</h3>
        <div class="row">
            <div class="col-md-12">
                <div class="input-group input-group-lg">
                    <form method="POST">
                        <div class="form-outline mb-4 d-flex flex-column">
                            <label>Кабинет и окно</label>
                            <select name="receptionId" class="form-control">
                                {{#each receptions}}
                                <option value='{{this.Id_reception}}'>Кабинет {{this.Cabinet}}, окно
                                    {{this.Num_reception}}
                                    ({{this.Theme}})</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="form-outline mb-4 d-flex flex-column">
                            <label>Дата и время</label>
                            <input type="datetime-local" name="date" required="true" class="form-control">
                        </div>
                        <input type="submit" value="Добавить" class="btn btn-primary btn-block mb-4" />
                        <div class="form-outline mb-4 d-flex flex-column">
                            <a href="/admin/available">Назад</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>